.web-chatgpt-toolbar {
  margin: 0.5em 0em;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-self: end;
}

*:before,
*:after {
  box-sizing: border-box;
}

.web-chatgpt-toggle {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 0;
}

.web-chatgpt-toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 8px;
  width: 29px;
  height: 16px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.web-chatgpt-toggle-switch:before,
.web-chatgpt-toggle-switch:after {
  content: "";
}

.web-chatgpt-toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.25);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.25s;
}

.web-chatgpt-toggle:hover .web-chatgpt-toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.5);
}

.web-chatgpt-toggle-checkbox:checked + .web-chatgpt-toggle-switch {
  background: #1853ca;
}

.web-chatgpt-toggle-checkbox:checked + .web-chatgpt-toggle-switch:before {
  left: 15px;
}

.web-chatgpt-toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.web-chatgpt-toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

textarea {
  outline: 0 !important;
}

.hide-element {
  display: none !important;
}

.show-element {
  display: block !important;
}

.hover\:border-b:hover {
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.border-b {
  border-bottom-width: 1px;
}

.border-transparent {
  border-color: transparent;
}

.dropdown-width {
  width: 7rem;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.bg-blue-500 {
  background-color: rgb(59 130 246);
}

@media (min-width: 1124px) {
  .show-element-lg {
    display: block !important;
    margin-bottom: 0.25rem;
  }
  .dropdown-width-lg {
    width: auto;
    /* max-width: 8.5rem; */
  }
  .custom-tool-bar {
    height: 100%;
    flex-direction: column;
    overflow: auto;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 3rem;
  }
}

.processing-message {
  position: absolute;
  bottom: 4rem;
  right: 5rem;
  border-radius: 0.5rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
  padding: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.word-wrap {
  word-wrap: break-word;
}

@media print {
  .print\:hidden {
    display: none !important;
    height: auto !important;
  }

  .print\:overflow-visible {
    overflow: visible !important;
  }
}

.print-color-correction {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

.instruction-window-wrapper {
  position: absolute;
  right: 0px;
  bottom: 100%;
  z-index: 50;
  --tw-translate-y: -0.75rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.instruction-window {
  display: flex;
  height: 24rem;
  width: 22rem;
  flex-direction: column;
  border: 1px solid;
  border-radius: 0.375rem;
  border-color: rgb(156 163 175);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1rem;
}

.highlight {
  animation: highlight 1s ease-out;
}

@keyframes highlight {
  0% {
    background-color: rgb(253 224 71 / 0.6);
  }
  100% {
    background-color: transparent;
  }
}

.transparent {
  background-color: transparent;
}

.instruction-window > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.instruction-list {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.instruction-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.instruction-list-item > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.instruction-list-item {
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: transparent;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}

.instruction-text {
  display: block;
  flex: 1 1 0%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.instruction-delete-btn:hover {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.instruction-edit-btn:hover {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.instruction-btn {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.add-new-btn {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1.25rem;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.instruction-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.youtube-videos {
  display: grid;
  max-width: 32rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
}

.one-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
          line-clamp: 1; 
  -webkit-box-orient: vertical;
}